@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('img1.jpg') no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
    
    
}
.intro .inner{
    
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.Content{
max-width: 500px;
    margin: auto;
    text-align: center;
    
    
}

.Content h1{
    font-family: 'Raleway',sans-serif;
    color: #F9F3F4;
    font-size: 500%;
    text-shadow: 0px 0px 300px #000; 
}

.btnm{
    border-radius: 9px;
    font-family: 'Oswald',sans-serif;
    color: green;
    font-size: 135%;
    padding: 10px 20px;
    border: solid green 1px;
    text-transform: uppercase;
    text-decoration: none;
    
    
}
.btnm:hover{
    color: white;
    border: solid white 3px;
    transition-delay: 20;
    text-decoration: none;
}

p{
    font-size:160%;
    line-height: 210%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}

@media screen and (max-width:768px){
    .content h1{
        font-size: 250%;
    }
    .btn{
        font-size: 110%;
        padding: 7px 15px;
    }
    p{
        font-size: 100%;
        line-height: 160%;
    }
}
